<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <typeAliases>
        <typeAlias type="com.heren.log4mnis.model.Test" alias="Test"/>
        <typeAlias type="com.heren.log4mnis.model.Log" alias="log"/>
    </typeAliases>

    <mappers>
        <mapper resource="mapper/testMapper.xml"/>
        <mapper resource="mapper/logMapper.xml"/>
    </mappers>
</configuration>